body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #999;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    height: 15%;
    max-height: 200px;
    background-color: #002984;
}
#nav-menu{}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    
}

.column {
    width: 28%;
    height: 100%;
}

#column-1{
    background-color: #757de8;
}
#column-2{
    background-color: #3f51b5;
}
#column-3{
    background-color: #757de8;
}
footer{
background-color: #002984;
}

@media screen and  (min-width: 800px) {
    main {
        flex-direction: row;
    }
    .column{
        width: 25%;
    }
}